<header class="site-header grid-paper">
  <div class="wrap">
    <a class="site-title" href="/">BUILD<span class="dot">_</span>LOG</a>
    <nav class="site-nav">
      <a href="/">Index</a>
      <a href="/leetcode/">LeetCode</a>
      <a href="/about/">About</a>
    </nav>
  </div>
</header>
